*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Nav Rules */
#flex-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #235ce8;
    padding-top: 10px;
}

#logo{
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
    padding-bottom: 30px;
}

.flex-nav-list{
    display: flex;
    justify-content: space-around;
    min-width: 500px;
}

.flex-nav-list li{
    list-style-type: none;
    color: white;
}

.accedi{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 25px;
}

/* Header Rules */

#flex-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:100%;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:200px;
}

.header-title{
    width: 50%;
    font-size: 30px;
    text-align: center;
    /* line-height: 100px; */
    color: white;
    margin-top:100px;

    /* DEBUG */
    /* background-color: red; */
}

.header-p{
    width: 50%;
    font-size: 20px;
    text-align: center;
    contain: content;
    color: white;
    margin:30px auto;
    
    /* DEBUG */
    /* background-color: yellow; */
}

#flex-header-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#flex-header-button a{
    text-decoration: none;
    margin: 25px;
}

.one .color1{
    background-color:white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
}

.two .color2{
    background-color:black;
    color: white;
    padding: 10px;
    border-radius: 25px;
}

/* Main Section 1 */

#flex-block1{
    display: flex;
    margin-bottom: 25px;

    /* DEBUG */
    background-color: white;
}

.left1{
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0,1);
    max-width: 100%;
    width: 40%;
    margin: 0 50px 0 auto;

    /* DEBUG */
    /* background-color: red; */
}

#flex-right1{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 35px auto 10px 0;

    /* DEBUG */
    /* background-color: yellow; */
}

.title1{
    width: 60%;
    font-size: 20px;
    padding-bottom: 25px;
    
    /* DEBUG */
    /* background-color: orange; */
}

.para1{
    width: 80%;
    color: black;
    font-size: 20px;
    
    
    /* DEBUG */
    /* background-color: green; */
}

/* Main Section 2 */

#flex-block2{
    display: flex;

    /* DEBUG */
    background-color: lightgrey;
}

#flex-left2{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin:  25px 0 150px 60px;

    /* DEBUG */
    /* background-color: yellow; */
}

.title2{
    width: 70%;
    font-size: 20px;
    padding: 60px 0 30px 0;
    margin-left: 150px;
    
    /* DEBUG */
    /* background-color: orange; */
}

.para2{
    width: 70%;
    color: black;
    font-size: 20px;
    margin-left: 150px;
    
    /* DEBUG */
    /* background-color: green; */
}

.right2{
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0,1);
    max-width: 100%;
    width: 50%;
    margin: 0 200px 0 0;

    /* DEBUG */
    /* background-color: red; */
}

/* Main Section 3 */

#flex-block3{
    display: flex;

    /* DEBUG */
    background-color: white;
}

.left3{
    background-image: url(../img/item3.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0,1);
    max-width: 100%;
    width: 40%;
    margin: 0 50px 0 auto;

    /* DEBUG */
    /* background-color: red; */
}

#flex-right3{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 50px auto 100px 0;

    /* DEBUG */
    /* background-color: yellow; */
}

.title3{
    width: 60%;
    font-size: 20px;
    padding: 60px 0 30px 0;
    
    /* DEBUG */
    /* background-color: orange; */
}

.para3{
    width: 80%;
    color: black;
    font-size: 20px;
    
    /* DEBUG */
    /* background-color: green; */
}

/* Main Section 4 */

#flex-block4{
    display: flex;
    flex-direction: column;
    justify-content: center;


    /* DEBUG */
    background-color: lightgrey;
    /* margin-bottom: 1px; */
}

#flex-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 50px auto 0 auto;

    /* DEBUG */
    /* background-color:red; */
}

.title4{
    width: 100%;
    margin: 0px auto;
    font-size: 20px;
    
    /* DEBUG */
    /* background-color:yellow; */
    color: black;
    text-align: center;
    line-height: 50px;
}

.para4{
    width: 85%;
    margin: 30px auto 0 auto;

    /* DEBUG */
    /* background-color:yellow; */
    color: black;
    text-align: center;
}

.middle{
    background-image: url(../img/item4-big.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 60%;
    margin: auto;

    /* DEBUG */
    /* background-color:yellow; */
    /* color: red; */
}

#flex-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto 50px auto;

    /* DEBUG */
    /* background-color:green; */
}

.title5{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size:contain;
    padding: 30px;
    width: 60%;
    margin: auto;
    color: black;
    font-size: 25px;

    /* DEBUG */
    /* background-color:yellow; */
    text-align: center;
}

.bottom-button{
    background-color: #235ce8;
    width: 20%;
    margin: auto;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border-radius: 50px;


    /* DEBUG */
    color: white;
    text-decoration: none;
}

/* Footer Top Rules */

#footer-top{
    display: flex;
    justify-content: center;
    padding-top: 30px;

    /* DEBUG */
    background-color: black
}

#flex-footer1{
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 85%;

    /* DEBUG */
    /* background-color: red; */
    /* margin-bottom: 1px; */
}

/* Left Column*/

.left-column{
    width: 20%;
    color:#235ce8;

    /* DEBUG */
    /* background-color: green; */
}

.left-column span{
    color: white;
    padding: 10px;
    padding-left: 5px;
}

img{
    height: 20px;
    padding-left: 10px;
}

.title6{
    padding: 10px 10px 20px 10px;

    /* DEBUG */
    /* background-color: red; */
}

.flex-loges{
    display: flex;
    min-width: 20px;
}

.flex-loges i{
    color: white;
    margin: 5px;
    padding: 5px;
}

/* List 1 */

#blue-title{
    color:#235ce8;
}

.list1{
    width: 20%;
    padding: 10px 20px;
    list-style-type: none;

    /* DEBUG */
    /* background-color: yellow; */
}

li{
    padding-top: 15px;
    color: white;
}

/* List 2 */
    
.list2{
    width: 20%;
    padding: 10px 20px;
    list-style-type: none;

    /* DEBUG */
    /* background-color: green; */
}

/* List 3 */

.list3{
    width: 20%;
    padding: 10px 20px;
    list-style-type: none;

    /* DEBUG */
    /* background-color: yellow; */
}

/* List 4 */

.list4{
    width: 20%;
    padding: 10px 20px;
    list-style-type: none;
    
    /* DEBUG */
    /* background-color: green; */
}

/* Footer Bottom Rules */

#flex-footer2{
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top:20px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    width: 85%;
    border-top: 1px solid white;
    background-color: black;
    padding-bottom: 20px;
}

a{
    color: white;
    text-decoration: none;
}

#logo{
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    height:50%;
    width: 125px;
    color: white;
    margin-top:20px;
}

#registrati{
    background-color: white;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
}













    








